body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff0000; /* Vermelho */
    padding: 10px;
    text-align: center;
}

header a {
    color: #fff; /* Branco */
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff0000; /* Vermelho */
    color: #fff; /* Branco */
    font-weight: bold;
}

footer .info{
        color: #f4f4f4; /* Cor desejada para os links */
        text-decoration: none;
        ; /* Remove o sublinhado padrão */
    }
    
    footer a:hover {
        text-decoration: none; /* Adiciona sublinhado ao passar o mouse */
    }
    
footer a{
    color: #f4f4f4;
    
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
#info-jogador {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;

    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
}
